<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnCompose">
        <activity
            android:name=".NavigationDrawer.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.LearnCompose" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BottomSheet.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.LearnCompose">

        </activity>
        <activity
            android:name=".responsiveDesign.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.LearnCompose" />
        <activity
            android:name=".LazyGrid"
            android:exported="true"
            android:label="@string/title_activity_lazy_grid"
            android:theme="@style/Theme.LearnCompose"></activity>
        <activity
            android:name=".PermissienHandling.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.LearnCompose" />
        <activity
            android:name=".BottomNavigation.bottomNavigation"
            android:exported="true"
            android:label="@string/title_activity_bottom_navigation"
            android:theme="@style/Theme.LearnCompose" />
        <activity
            android:name=".Navigations.HomeScreen"
            android:exported="true"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/Theme.LearnCompose" />
        <activity
            android:name=".Navigations.SecondScreen"
            android:exported="false"
            android:label="@string/title_activity_second_screen"
            android:theme="@style/Theme.LearnCompose" />
        <activity
            android:name=".Navigations.Screen"
            android:exported="false"
            android:label="@string/title_activity_screen"
            android:theme="@style/Theme.LearnCompose" />
        <activity
            android:name=".Navigations.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.LearnCompose" />
        <activity
            android:name=".Navigations.LastScreen"
            android:exported="false"
            android:label="@string/title_activity_last_screen"
            android:theme="@style/Theme.LearnCompose" />
        <activity
            android:name=".ProgressActivity"
            android:exported="true"
            android:label="@string/title_activity_progress"
            android:theme="@style/Theme.LearnCompose" />
        <activity
            android:name=".EffectHandlerActivity"
            android:exported="true"
            android:label="@string/title_activity_effect_handler"
            android:theme="@style/Theme.LearnCompose" />
        <activity
            android:name=".ListActivity"
            android:exported="true"
            android:label="@string/title_activity_list"
            android:theme="@style/Theme.LearnCompose" />
        <activity
            android:name=".TextFileldActivity"
            android:exported="true"
            android:label="@string/title_activity_text_fileld"
            android:theme="@style/Theme.LearnCompose" />
        <activity
            android:name=".state_remember_byActivity"
            android:exported="false"
            android:label="@string/title_activity_state_remember_by"
            android:theme="@style/Theme.LearnCompose" />
        <activity
            android:name=".CardActivity"
            android:exported="true"
            android:label="@string/title_activity_card"
            android:theme="@style/Theme.LearnCompose" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LearnCompose" />
    </application>

</manifest>